@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

body {
  height: 100vh;
}
main {
  height: 70vh;
}
#chat-messages div p:nth-child(2) {
  user-select: all;
}